body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.cta-sign-in,
.cta-subscribe {
  color: lightgray;
  font-weight: 600;
}

.header-top {
  background-color: #f72210;
  position: relative;
  z-index: 2;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link {
  color: black;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-toggler {
  color: aliceblue;
}

.page-header .navbar-brand {
  background-color: #f72210;
  padding: 15px;
}

.header-middle-navbar-brand svg {
  fill: #fff;
}

.dropdown-design-container {
  position: relative;
}

.dropdown-design {
  width: 78px;
  height: 13px;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  background-color: #f72210;
}

.navbar-search-container {
  width: 95p;
}

.navbar-search-input {
  height: 100%;
  width: 50px;
}

.img-container {
  position: relative;
}

.category {
  display: block;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.opinion-item {
  border-bottom: 1px solid #d9d9d9;
}

/*
******************************
* media queries              *
******************************
*/

@media only screen and (max-width: 992px) {
  .page-header .navbar-brand svg {
    width: 132px;
    height: 20px;
    fill: #fff;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }

  .cta-sign-in,
  .cta-subscribe {
    color: lightgray;
    font-size: 20px;
  }

  .cta-subscribe {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cta-sign-in {
    padding-left: 12px;
    padding-right: 12px;
  }

  .dropdown-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 992px) {
  .page-header .header-top {
    height: 100px;
    padding: 20px 10px 15px;
  }

  .page-header .header-middle-navbar-brand {
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-middle-navbar-brand svg {
    fill: #fff;
    margin: 10px auto 0;
    width: 396px;
    height: 60px;
  }

  .navbar-nav {
    width: 95%;
  }
}
